body{
    text-align: center;
    font-family: roboto, arial;
    font-size: 14px;
    line-height: 18px;
    color:#222222;
    overflow-x:hidden;
    direction: __MSG_@@bidi_dir__;
}

.page-center{
    margin: 0px auto;
    text-align: center;
    max-width: 580px;
    min-width: 300px;
    padding:10px;
}

.search,
#results,
#help{
    padding:10px;
    color:#777777;
    font-weight: 300;
    border:1px solid #e5e5e5;
    margin-bottom: 20px;
    width:95%;
    font-family: roboto, arial;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 20px;
}

.search{
    background: url(img/icon-48.png) no-repeat left center;
    height:28px;
    padding-left: 55px;
    width:87%;
    outline: none;
    position: relative;
    left:-3px;
}

.help-icon{
    padding:5px;
    color:white;
    background: #e5e5e5;
    border-radius:10px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    right:33px;
    top:30px;
    cursor: pointer;
    z-index:1;
}

#results,
#help{
    text-align: left;
    font-size: 14px;
    line-height: 18px;
    text-transform: none;
    color:#222222;
    display: none;
}

#help h3{
    padding: 0px;
    margin: 0px;
    font-weight: 100;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

#results div{
    padding:4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
}

#results div.active,
#results div:hover{
    background: #48A4FF;
    color:white;
}

#results div:hover{
    background: #AAD5FF;
}

#results div.active{
    text-overflow:clip;
    white-space: normal;
}

url{
    color:green;
}

match{
    font-weight: bold;
}

dim{
    color:#777777;
}